@{
    ViewData["Title"] = "Home";
}

<div class="contenedor">
    <h1>¡Mis disculpas!</h1>
    <p>La presente página no contiene contenido relevante o de interés.</p>
    <a href="swagger/">Explorar Swagger</a>
</div>
