@{
    ViewData["Title"] = "Home";
}

<div class="micontainer show">
    <dotlottie-player class="img_lottie" src="https://lottie.host/421aeef7-ec6f-45af-ba2b-c61db799e5b8/op2EDcXijC.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
    <h1 class="display-5">¡Mis disculpas!</h1>
    <p class="text-white">La presente página no contiene contenido relevante o de interés.</p>
    <a class="mibtn" href="swagger/">Explorar Swagger</a>
</div>
